<nav class="navbar navbar-default"> 
  <div class="container-fluid">  
  <div ng-if="token && token != '0'">
      <ol>
          <a class="btn-date" href="#/Users">Users</a>
          <a class="btn-date" href="#/Schedule">Schedule</a>
          <a class="btn-date-logout" ng-click="logContr.logout()">Logout</a>
      </ol>
      <h3>Please click 'Schedule'</h3>
      <img src="code/img/hi.jpg">
      <h5>Click 'Schedule' to check existing or</h5>
      <h5>create new schedule for your team.</h5>
      <h5>Click 'Users' to create new users for scheduler.</h5>
  </div>
<div class="container" ng-if="!token || token == '0'">
  <div class="row">
    <div class="col-sm-12">
      <h1>Login</h1>
    </div>
    <h5 ng-if="logContr.loginInfo ">Hello {{logContr.loginInfo}}!</h5>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="logContr.loginUser(logContr.username, logContr.password)" novalidate>
        <div class="form-group">
          <label>Username</label>
          <input type="username" name="username" class="form-control" ng-model="logContr.username" required>
        </div>

        <div class="form-group">
          <label>Password</label>

          <input type="password" name="password" class="form-control" ng-model="logContr.password" required>
        </div>
<!--
        <div class="form-group has-error">
          <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
             Please enter your email and password.
          </p>
          <p class="help-block" ng-show="form.email.$error.email && submitted">
             Please enter a valid email.
          </p>

          <p class="help-block">{{ errors.other }}</p>
        </div>
-->
        <div>
          <button class="btn btn-inverse btn-lg btn-login" type="submit">
            Sign-in
          </button>
          <a class="btn btn-default btn-lg btn-register" href="#/Users">
            Register
          </a>
        </div>

      </form>
    </div>
  </div>
  <hr>
  </div>
  </nav>
