<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="row">
  <div class="col-sm-12">
	<div ng-if="token == '0'">
   	    <ol>
	        <a class="btn-date" href="#/">Login</a>
	        <a class="btn-date" href="#/Users">Register</a>
	    </ol>
	    <h1>Thank you!</h1>
	    <img src="code/img/bye.jpg">
	    <h5>Please click 'Login' to login the system.</h5>
	</div>
    <!--<div ng-if="token && token != '0'">-->
    <div>
	    <nav class="navbar navbar-default">	
	        <div class="container-fluid">
			    <div class="row">
			        <div class="col-md-3">
			            <p class="input-group">
			                <input type="text" class="form-control" datepicker-popup="dd MMMM yyyy" ng-model="date" is-open="status" max-date="'22 6 2020'" ng-required="true" close-text="Close" ng-change="chooseDate(date)"/>
			                <span class="input-group-btn">
			                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
			                </span>
			            </p>
			        </div>
			    </div>
	   		</div>
        </nav>
	        <div class="row">
	        <div class="row" ng-repeat="taskRecord in ctrl.taskListArray | orderBy:'username'">
	            <div class="col-md-2 col2">
	            <!--list of Tasks from taskListArray in JSON-->
		            <div ng-if="!taskRecord.isEditing && !taskRecord.existName" class="btn-group" dropdown dropdown-append-to-body>

			            <button type="button" class="btn" dropdown-toggle style="width:174px">
			                {{taskRecord.username}}
			                <i class="glyphicon glyphicon-user" style="color:red"></i>
			            </button>
					    <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
				            <li role="menuitem"><a href="#">Replace</a></li>
				            <li role="menuitem"><a href="#">Personal info</a></li>				            
				            <li role="menuitem"><a href="#">Record issue</a></li>
				            <li class="divider"></li>
				            <li role="menuitem"><a href="#">Send message</a></li>
					    </ul>		            
                    </div>

		            <div ng-if="taskRecord.isEditing">
		            	<br>
		            	<br>
		                <input ng-model="taskRecord.username"/>
		            </div>
	            </div>
	            <div class="col-md-2 col3">
	            <!--list of Tasks from taskListArray in JSON-->	            
		            <div ng-if="!taskRecord.isEditing">
		                <h5>{{taskRecord.start | date:'HH:mm'}}</h5>
		            </div>
		            <div ng-if="taskRecord.isEditing">
		                <timepicker ng-model="startTimeMessage" ng-change="editStart()" hour-step="1" minute-step="15" show-meridian="ismeridian">	
		                </timepicker>
		                <div style="color:red">
	                        <h5>{{editMessage}}</h5>
	                    </div>
		            </div>
	            </div>
		        <div class="col-md-2 col6">
	            <!--list of Tasks from taskListArray in JSON-->	            
		            <div ng-if="!taskRecord.isEditing">
		                <h5>{{taskRecord.finish| date:'HH:mm'}}</h5>
		            </div>
		            <div ng-if="taskRecord.isEditing">
   		                <timepicker ng-model="finishTimeMessage" ng-change="editFinish()" hour-step="1" minute-step="15" show-meridian="ismeridian"></timepicker>
		            </div>
	            </div>
	            <div class="col-md-2 col7">
	            <!--list of Tasks from taskListArray in JSON-->
		            <div class="raw" ng-if="!taskRecord.isEditing" class="btn-group" dropdown is-open="status.isopen">
		              <table>
		                <tr>
		                  <td>
			              <button type="button" class="btn" dropdown-toggle style="text-align:right; width:300px">
			                {{taskRecord.task}}
			                <i ng-if="taskRecord.status=='started'" class="glyphicon glyphicon-play" style="color:green"></i>
			                <i ng-if="taskRecord.status=='paused'" class="glyphicon glyphicon-pause" style="color:yellow"></i>
			                <i ng-if="taskRecord.status=='dropped'" class="glyphicon glyphicon-thumbs-down" style="color:red"></i>
			                <i ng-if="taskRecord.status=='finished'" class="glyphicon glyphicon-ok-sign" style="color:green"></i>
			                <i ng-if="taskRecord.status=='question'" class="glyphicon glyphicon-question-sign" style="color:red"></i>
			              </button>
			            </td>
                 		<td ng-click="isCollapsed = !isCollapsed">
			                <i ng-if="!isCollapsed" class="glyphicon glyphicon-chevron-right" style="color:blue"></i>
			                <i ng-if="isCollapsed" class="glyphicon glyphicon-chevron-down" style="color:blue"></i>                
	            		</td>
			            </tr>
			            </table>
			            <div collapse="!isCollapsed">
							<input ng-model="taskRecord.taskDescription" class="well well-lg" style="width:300px; background-color:white" placeholder="Task description">
							  <table>
							    <tr>
				            		<td>
							            <i style="color:grey" ng-click="ctrl.statusChange(taskRecord._id, taskRecord.username, 'started', taskRecord.taskDescription)">Start..</i>
				            		</td>
				            		<td>
							            <i style="color:grey" ng-click="ctrl.statusChange(taskRecord._id, taskRecord.username, 'paused', taskRecord.taskDescription)">Pause..</i>
				            		</td>
				            		<td>
							            <i style="color:grey" ng-click="ctrl.statusChange(taskRecord._id, taskRecord.username, 'dropped', taskRecord.taskDescription)">Drop..</i>
				            		</td>
				            		<td>
							            <i style="color:grey" ng-click="ctrl.statusChange(taskRecord._id, taskRecord.username, 'finished', taskRecord.taskDescription)">Finish..</i>
				            		</td>
				            		<td>
							            <i style="color:grey" ng-click="ctrl.statusChange(taskRecord._id, taskRecord.username, 'question', taskRecord.taskDescription)">Question</i>
				            		</td>
				            	</tr>
			            	  </table>
							</input>
						</div>

					    <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
				            <li role="menuitem"><a href="#">Start task</a></li>
				            <li role="menuitem"><a href="#">Finish task</a></li>
				            <li role="menuitem"><a href="#">Pause task</a></li>
				            <li role="menuitem"><a href="#" ng-click="isCollapsed = !isCollapsed">Details</a></li>
   				            <li class="divider"></li>
				            <li role="menuitem" ><a href="#" style="color:blue" ng-click="ctrl.edit(taskRecord._id)">Edit task</a></li>
				            <li role="menuitem" ><a href="#" style="color:red" ng-click="ctrl.delete(taskRecord._id)" >Delete task</a></li>
					    </ul>
		            </div>

		            <div ng-if="taskRecord.isEditing">
		            	<br>
		            	<br>
		                <input ng-model="taskRecord.task"/>
		            </div>
	            </div>

	            <!--print out 'Type's of each Task from taskListArray from controller-->
	            <div class="col-md-1 col4">
                 <!--if "taskRecord.isEditing == false" just read data from Aray-->
		            <div ng-if="!taskRecord.isEditing">
		                <h5>{{taskRecord.type}}</h5>
		            </div>
	            </div>
                <!--Save button-->
				<div class="col-md-1 col7" ng-if="taskRecord.isEditing">
					<br>
					<br>
				    <button type="button" class="btn" ng-click="ctrl.save(taskRecord._id)">Save</button>
				</div>

		    </div>
		    <!--MODAL FOR WS MESSAGES-->
		    <script type="text/ng-template" id="modalContent.html">
		        <div class="modal-header">
		            <h3 class="modal-title">You got message!</h3>
		        </div>
		        <div class="modal-body">
		            <ul>
		                <li ng-repeat="item in items">
		                    <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
		                </li>
		            </ul>
		            <!--Selected: <b>{{ selected.item }}</b>-->
		            Please enter answer: <input style="width:300px" ng-model="answers"></input>
		        </div>
		        <div class="modal-footer">
		            <button class="btn btn-primary" type="button" ng-click="answer(answers)">Answer</button>
		            <button class="btn btn-primary" type="button" ng-click="ok()">Remind later</button>            
		            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
		        </div>
		    </script>

		    <div class="text-warning">
		    	<h5>{{ selected }}</h5>
		    </div>


		    <!--POTENTIALLY CAN BE USED FOR IMPORTANT MESSAGES & ERRORS-->
		    <div class="text-warning">
		    	<h5>{{ctrl.message}}</h5>
		    </div>

		    <!--ADD NEW TASK PANEL-->
		    <nav class="navbar navbar-default">
		        <div class="container-fluid">
		            <div class="navbar-header">
	                    <div class="row">
	                        <div class="col-md-3 col1">
	                            <h4>Username</h4>
   	                            <br>
	                            <br>
	                            <div>
	                            <input ng-model="newTask.username" placeholder="username" style="width:161px">
	                            </div>
	                        </div>
	                        <div class="col-md-2 col2">
	                            <h4>Start</h4>
		                        <timepicker ng-model="newTaskStart" ng-change="changeStart()" hour-step="1" minute-step="15" show-meridian="ismeridian"></timepicker>
	                        </div>
	                        <div class="col-md-2 col3">
	                            <h4>Finish</h4>
	                            <timepicker ng-model="newTaskFinish" ng-change="changeFinish()" hour-step="1" minute-step="15" show-meridian="ismeridian"></timepicker>
	                        </div>
	                        <div class="col-md-1 col4">
	                            <h4>Task</h4>
   	                            <br>
	                            <br>
	                            <input ng-model="newTask.task"placeholder="Task.." style="width:200px">
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </nav>

	    <!--Timepicker ERROR message-->
	    <div style="color:red" >
	        <h5>{{timepickerMessage}}</h5>
	    </div>

	        <input type="button" ng-click="ctrl.addTask()" value="Add" class="add-button">
	    </div>
	    <!--Message from 'ws' broadcast-->
	    <div ng-repeat="wsMessage in ctrl.wsMessageArray track by $index">
	        <h5>message: {{wsMessage.username}}</h5>
	    </div>
	</div>
	</div>
</div>
<h3><time datetime="hh:mm">{{startTimeMessage | date:'HH:mm'}}</time></h3>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 | Online scheduler v 0.10.ws
        <!--<a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a>--></p>
  </div>
</footer>