<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="row">
  <div class="col-sm-12">
	<div ng-if="token == '0'">
   	    <ol>
	        <a class="btn-date" href="#/">Login</a>
	        <a class="btn-date" href="#/Users">Register</a>
	    </ol>
	    <h1>Thank you!</h1>
	    <img src="code/img/bye.jpg">
	    <h5>Please click 'Login' to login the system.</h5>
	</div>
    <!--<div ng-if="token && token != '0'">-->
    <div>
	    <nav class="navbar navbar-default" style="background-color:#5AA7DF; border-color:#5AA7DF">
	        <div class="container-fluid">
			    <div class="row">
			        <div class="col-md-3">
			        <p></p>
			            <p class="input-group">
			                <input type="text" class="form-control" style="border-color:#5AA7DF; color:black" datepicker-popup="dd MMMM yyyy" ng-model="date" is-open="status" max-date="'22 6 2020'" ng-required="true" close-text="Close" ng-change="chooseDate(date)" placeholder="Pick date ..   >>"/>
			                <span class="input-group-btn">
			                <button type="button" class="btn btn-default" style="border-color:#5AA7DF; background-color:#5AA7DF; border-color:white" ng-click="open($event)"><i class="glyphicon glyphicon-calendar" style="color:white"></i></button>
			                </span>
			            </p>
			        </div>
			    </div>
	   		</div>
        </nav>
	        <div class="row">
	        <div class="row" ng-repeat="taskRecord in ctrl.taskListArray | orderBy:['username', 'start', 'finish']">
	            <div class="col-md-2 col2">
	            <!--list of Tasks from taskListArray in JSON-->
		            <div ng-if="!taskRecord.isEditing && !taskRecord.existName" class="btn-group" dropdown dropdown-append-to-body>

			            <button type="button" class="btn" dropdown-toggle style="width:185px; border-radius:25px; background-color:#CEF6F5; font-weight: bold">
			                {{taskRecord.username}}
			                <i class="glyphicon glyphicon-user" style="color:red"></i>
			            </button>
					    <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
				            <li role="menuitem"><a href="#">Replace</a></li>
				            <li role="menuitem"><a href="#">Personal info</a></li>	            
				            <li role="menuitem"><a href="#">Record issue</a></li>
				            <li class="divider"></li>
				            <li role="menuitem"><a href="#">Send message</a></li>
					    </ul>
                    </div>

		            <div ng-if="taskRecord.isEditing">
		            	<br>
		            	<br>
		                <input ng-model="taskRecord.username"/>
		            </div>
	            </div>
	            <div class="col-md-2 col3">
	            <!--list of Tasks from taskListArray in JSON-->
		            <button type="button" class="btn" ng-if="!taskRecord.isEditing" ng-style="taskRecord.style" class="container-fluid" style="width:195px; font-family:verdana; color:black; background-color:#F8EFAC; border-width:1px; border-radius: 25px">
		                <div class="col-xs-1 col1">{{taskRecord.start | date:'HH:mm'}}</div>
		                <div class="col-xs-2 col2">&nbsp;</div>
		                <div class="col-xs-2 col3">{{taskRecord.finish | date:'HH:mm'}}</div>
		                <div class="col-xs-2 col2">&nbsp;</div>
		                <div class="col-xs-2 col4">{{taskRecord.taskRemain}}</div>
		            </button>
		            <div ng-if="taskRecord.isEditing">
		                <timepicker ng-model="taskRecord.start" ng-change="editStart()" hour-step="1" minute-step="15" show-meridian="ismeridian">
		                </timepicker>
		                <!--TEST NOV 3,2015-->
			            <div ng-if="taskRecord.isEditing">
	   		                <timepicker ng-model="taskRecord.finish" ng-change="editFinish()" hour-step="1" minute-step="15" show-meridian="ismeridian"></timepicker>
			            </div>
			            <!--END OF TEST-->
		                <div style="color:red">
	                        <h5>{{editMessage}}</h5>
	                    </div>
		            </div>
	            </div>

	            <div class="col-md-2 col7">
	            <!--list of Tasks from taskListArray in JSON-->
		            <div class="raw" ng-if="!taskRecord.isEditing" class="btn-group" dropdown is-open="status.isopen">
		              <table>
		                <tr>
		                  <td>
			              <button type="button" class="btn" dropdown-toggle style="width:300px; text-align:left; color:black; background-color:#F8EFAC; border-width:1px; border-radius: 25px">
			                {{taskRecord.task}}
			                <i ng-if="taskRecord.status=='started'" class="glyphicon glyphicon-play" style="color:blue"></i>
				                <!--<i ng-if="taskRecord.status=='paused'" class="glyphicon glyphicon-pause" style="color:yellow"></i>-->
					                <!--<i ng-if="taskRecord.status=='dropped'" class="glyphicon glyphicon-thumbs-down" style="color:red"></i>-->
			                <i ng-if="taskRecord.status=='finished'" class="glyphicon glyphicon-ok-sign" style="color:green"></i>
			                <i ng-if="taskRecord.status=='question'" class="glyphicon glyphicon-question-sign" style="color:red"></i>
			              </button>
			            </td>
                 		<td ng-click="ctrl.collapse(taskRecord._id)">
			                <i ng-if="!taskRecord.isOpenned" class="glyphicon glyphicon-chevron-right" style="color:#5AA7DF"></i>
			                <i ng-if="taskRecord.isOpenned" class="glyphicon glyphicon-chevron-down" style="color:#5AA7DF"></i>                
	            		</td>
			            </tr>
			            </table>
			            <div collapse="!taskRecord.isOpenned">
							<input ng-model="taskRecord.taskDescription" ng-change="ctrl.saveTaskDescription(taskRecord._id)" class="well well-lg" style="width:300px; background-color:white; border-color:#FE9A2E" placeholder="Task description"></input>
							  <table>
							    <tr>
				            		<td>
				            			<div class="divider"></div>
				            		</td>
				            		<td>
							            <button class="btn-primary" ng-click="ctrl.statusChange(taskRecord._id, taskRecord.username, 'started', taskRecord.taskDescription)">Start</button>
				            		</td>
				            		<td>
				            		<td>
				            			<div class="divider"></div>
				            		</td>
							        <!--	    <i style="color:grey" ng-click="ctrl.statusChange(taskRecord._id, taskRecord.username, 'paused', taskRecord.taskDescription)"><button>Pause</button></i>
				            		</td>-->
						            <!--		<td>
							            <i style="color:grey" ng-click="ctrl.statusChange(taskRecord._id, taskRecord.username, 'dropped', taskRecord.taskDescription)">Drop</i>-->
				            		</td>
				            		<td>
							            <button class="btn-success" ng-click="ctrl.statusChange(taskRecord._id, taskRecord.username, 'finished', taskRecord.taskDescription)">Finish</button>
				            		</td>
				            		<td>
				            			<div class="divider"></div>
				            		</td>
				            		<td>
							            <button class="btn-warning" ng-click="ctrl.statusChange(taskRecord._id, taskRecord.username, 'question', taskRecord.taskDescription)">Ask</button>
				            		</td>
				            	</tr>
			            	  </table>
								
						</div>

					    <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
				            <li role="menuitem"><a href="#">Start task</a></li>
				            <li role="menuitem"><a href="#">Finish task</a></li>
				            <li role="menuitem"><a href="#">Pause task</a></li>
				            <li role="menuitem"><a href="#" ng-click="ctrl.collapse(taskRecord._id)">Details</a></li>
   				            <li class="divider"></li>
				            <li role="menuitem" ><a href="#" style="color:blue" ng-click="ctrl.edit(taskRecord._id)">Edit task</a></li>
				            <li role="menuitem" ><a href="#" style="color:red" ng-click="ctrl.delete(taskRecord._id)" >Delete task</a></li>
					    </ul>
		            </div>

		            <div ng-if="taskRecord.isEditing">
		            	<br>
		            	<br>
		                <input ng-model="taskRecord.task" style="width:290px"/>
		            </div>
	            </div>

	            <!--print out 'Type's of each Task from taskListArray from controller-->
	            <div class="col-md-1 col4">
                 <!--if "taskRecord.isEditing == false" just read data from Aray-->
		            <div ng-if="!taskRecord.isEditing">
		                <h5>{{taskRecord.type}}</h5>
		            </div>
	            </div>
                <!--Save button-->
				<div class="col-md-1 col7" ng-if="taskRecord.isEditing">
					<br>
					<br>
				    <button type="button" class="btn" ng-click="ctrl.save(taskRecord._id)">Save</button>
				</div>

		    </div>
		    <!--MODAL FOR WS MESSAGES-->
		    <script type="text/ng-template" id="modalContent.html">
		        <div class="modal-header">
		            <h3 class="modal-title">You got message!</h3>
		        </div>
		        <div class="modal-body">
		            <ul>
		                <li ng-repeat="item in items">
		                    <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
		                </li>
		            </ul>
		            <!--Selected: <b>{{ selected.item }}</b>-->
		            Please enter answer: <input style="width:300px" ng-model="answers"></input>
		        </div>
		        <div class="modal-footer">
		            <button class="btn btn-primary" type="button" ng-click="answer(answers)">Answer</button>
		            <button class="btn btn-primary" type="button" ng-click="ok()">Remind later</button>            
		            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
		        </div>
		    </script>

		    <div class="text-warning">
		    	<h5>{{ selected }}</h5>
		    </div>


		    <!--POTENTIALLY CAN BE USED FOR IMPORTANT MESSAGES & ERRORS-->
		    <div class="text-warning">
		    	<h5>{{ctrl.message}}</h5>
		    </div>

		    <!--ADD NEW TASK PANEL-->
		    <nav class="navbar navbar-default" style="background-color: #CEF6F5; border-color: #CEF6F5; border-bottom-right-radius:25px; border-bottom-left-radius:25px">
		        <div class="container-fluid">
		            <div class="navbar-header">
	                    <div class="row">
	                        <div class="col-md-3 col1" style="color:#5AA7DF">
	                            <h4>Username</h4>
   	                            <br>
	                            <br>
	                            <div dropdown dropdown-append-to-body>
		                            <input dropdown-toggle ng-model="newTask.username" placeholder="username.." style="width:161px; color:black; ">
		                            <!--dropdown sub menu with list of registered users-->
									    <ul class="dropdown-menu" role="menu" aria-labelledby="single-button" style="width:185px">
								            <div ng-repeat="registeredUsers in ctrl.registeredUsers | filter: newTask.username">
									            <li role="menuitem">
									            	<a href="#" ng-click="ctrl.subMenuClickTest(registeredUsers.name)">
									            		<table style="width:100%">
										            		<tr>
										            			<td>{{registeredUsers.name}}</td>
										            		</tr>
										            	</table>
									            	</a>
									            </li>
									            <li class="divider"></li>
								            </div>
									    </ul>
	                            </div>
	                        </div>
	                        <div class="col-md-2 col2" style="color:#5AA7DF">
	                            <h4>Start</h4>
		                        <timepicker ng-model="newTaskStart" ng-change="changeStart()" hour-step="1" minute-step="15" show-meridian="ismeridian"></timepicker>
	                        </div>
	                        <div class="col-md-2 col3" style="color:#5AA7DF">
	                            <h4>Finish</h4>
	                            <timepicker ng-model="newTaskFinish" ng-change="changeFinish()" hour-step="1" minute-step="15" show-meridian="ismeridian"></timepicker>
	                        </div>
	                        <div class="col-md-1 col4" style="color:#5AA7DF">
	                            <h4>Task</h4>
   	                            <br>
	                            <br>
	                            <input ng-model="newTask.task" placeholder="Task.." style="width:280px; color: black">
	                            <br>
	                            <br>
	                            <br>
	                        </div>

	                    </div>
	                </div>
	            </div>
	        </nav>

	    <!--Timepicker ERROR message-->
	    <div style="color:red" >
	        <h5>{{timepickerMessage}}</h5>
	    </div>

	        <input type="button" ng-click="ctrl.addTask()" value="Add" class="add-button">
	    </div>
	    <!--Message from 'ws' broadcast-->
	    <div ng-repeat="wsMessage in ctrl.wsMessageArray track by $index">
	        <h5>message: {{wsMessage.username}}</h5>
	    </div>
	</div>
	</div>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 | Online scheduler v 0.10.ws
        <!--<a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a>--></p>
  </div>
</footer>