<div>
	    <nav class="navbar navbar-default">	

			  <div ng-if="logContr.loginInfo">
			      <ol>
			          <a class="btn-date" href="#/">Sign-in</a>
			          <a class="btn-date" href="#/Users">Users</a>
			          <a class="btn-date" href="#/Schedule">Schedule</a>
			      </ol>
			  </div>
	    
	        <div class="container-fluid">
                <h3>New user form</h3>                
	   		</div>
        </nav>
        <div class="row">            
            <div class="col-md-1 col2">
                <h4>Name</h4>
            </div>            
            <div class="col-md-1 col3">
                <h4>Last name</h4>
            </div>            
            <div class="col-md-1 col4">
                <h4>e-mail</h4>
            </div>
            <div class="col-md-1 col5">
                <h4>Position</h4>
            </div>         
        </div>

        <div class="row" ng-repeat="userRecord in userCtrl.usersListArray">            
            <div class="col-md-1 col2">
            <!--list of Tasks from taskListArray in JSON-->
	                <h5>{{userRecord.first_name}}</h5>
            </div>
            <div class="col-md-1 col3">
            <!--list of Tasks from taskListArray in JSON-->	            
	            <div ng-if="!userRecord.isEditing">
	                <h5>{{userRecord.last_name}}</h5>
	            </div>
	            <div ng-if="userRecord.isEditing">
	                <input ng-model="userRecord.last_name"/>
	            </div>
            </div>
            <div class="col-md-1 col4">
            <!--list of Tasks from taskListArray in JSON-->            
	            <div ng-if="!userRecord.isEditing">
	                <h5>{{userRecord.e_mail}}</h5>
	            </div>
	            <div ng-if="userRecord.isEditing">
	                <input ng-model="userRecord.e_mail"/>
	            </div>
            </div>
            <div class="col-md-1 col5">
            <!--list of Tasks from taskListArray in JSON-->            
	            <div ng-if="!userRecord.isEditing">
	                <h5>{{userRecord.position}}</h5>
	            </div>
	            <div ng-if="userRecord.isEditing">
	                <input ng-model="userRecord.position"/>
	            </div>
	        </div>            
			<!--Delete button-->
			<div class="col-md-1 col6">
			    <button type="button" class="btn btn-danger" ng-click="userCtrl.delete(userRecord._id)">Delete</button>
			</div>
	    </div>
	    <nav class="navbar navbar-default">
	        <div class="container-fluid">
	            <div class="navbar-header">
                    <div class="row">
                       <h4>PLEASE ENTER NEW TEAM MEMBER:</h4>
                        <div class="col-md-2 col1">
                            <h4>Username</h4>
                            <input ng-model="userCtrl.newUser.username"  placeholder="username" style="width:150px">
                        </div>
                        <div class="col-md-2 col2">
                            <h4>Password</h4>
                            <input ng-model="userCtrl.newUser.password"  placeholder="change password" type="password" style="width:150px">
                        </div>
                        <div class="col-md-2 col3">
                            <h4>Position</h4>
                            <input ng-model="userCtrl.newUser.position"  placeholder="position" style="width:150px">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2 col1">
                            <h4>Name</h4>
                            <input ng-model="userCtrl.newUser.first_name"  placeholder="Name" style="width:150px"></input>
                        </div>
                        <div class="col-md-2 col2">
                            <h4>Last name</h4>
                            <input ng-model="userCtrl.newUser.last_name" style="width:150px" placeholder="Last name"></input>
                        </div>
                        <div class="col-md-2 col3">
                            <h4>Phone</h4>
                            <input  type="number" ng-model="userCtrl.newUser.phone"  placeholder="phone" style="width:150px">
                        </div>
                        <div class="col-md-2 col3">
                            <h4>e-mail</h4>
                            <input ng-model="userCtrl.newUser.e_mail"  placeholder="e_mail" style="width:150px">
                        </div>
                    </div>
               
	                <div class="row">
                        <div class="col-md-2 col1">
                            <h4>Availability</h4>
                        </div>
                    </div>
	                    <div class="row">
                        <div class="col-md-2 col1">
                            <h4>Day</h4>
                            <h5 style="width:150px">Monday</h5>
                        </div>
                        <div class="col-md-2 col2">
                            <h4>Start</h4>
                            <input type="number" ng-model="userCtrl.newUser.monday_from" style="width:80px" placeholder="Start"></input>
                        </div>
                        <div class="col-md-2 col3">
                            <h4>Finish</h4>
                            <input  type="number" ng-model="userCtrl.newUser.monday_to"  placeholder="Finish" style="width:80px">
                        </div>
                    </div>
 	                <div class="row">
                        <div class="col-md-2 col1">	                            
                            <h5 style="width:150px">Tuesday</h5>
                        </div>
                        <div class="col-md-2 col2">	                            
                            <input type="number" ng-model="userCtrl.newUser.tuesday_from" style="width:80px" placeholder="Start"></input>
                        </div>
                        <div class="col-md-2 col3">	                            
                            <input  type="number" ng-model="userCtrl.newUser.tuesday_to" placeholder="Finish" style="width:80px">
                        </div>
                    </div>
   	                <div class="row">
                        <div class="col-md-2 col1">	                            
                            <h5 style="width:150px">Wednesday</h5>
                        </div>
                        <div class="col-md-2 col2">	                            
                            <input type="number" ng-model="userCtrl.newUser.wednesday_from" style="width:80px" placeholder="Start"></input>
                        </div>
                        <div class="col-md-2 col3">	                            
                            <input  type="number" ng-model="userCtrl.newUser.wednesday_to"  placeholder="Finish" style="width:80px">
                        </div>
                    </div>
   	                <div class="row">
                        <div class="col-md-2 col1">	                            
                            <h5 style="width:150px">Thursday</h5>
                        </div>
                        <div class="col-md-2 col2">	                            
                            <input type="number" ng-model="userCtrl.newUser.thursday_to" style="width:80px" placeholder="Start"></input>
                        </div>
                        <div class="col-md-2 col3">	                            
                            <input  type="number" ng-model="userCtrl.newUser.thursday_from"  placeholder="Finish" style="width:80px">
                        </div>
                    </div>
   	                <div class="row">
                        <div class="col-md-2 col1">	                            
                            <h5 style="width:150px">Friday</h5>
                        </div>
                        <div class="col-md-2 col2">	                            
                            <input type="number" ng-model="userCtrl.newUser.friday_from" style="width:80px" placeholder="Start"></input>
                        </div>
                        <div class="col-md-2 col3">	                            
                            <input  type="number" ng-model="userCtrl.newUser.friday_to"  placeholder="Finish" style="width:80px">
                        </div>
                    </div>
   	                <div class="row">
                        <div class="col-md-2 col1">	                            
                            <h5 style="width:150px">Saturday</h5>
                        </div>
                        <div class="col-md-2 col2">	                            
                            <input type="number" ng-model="userCtrl.newUser.saturday_from" style="width:80px" placeholder="Start"></input>
                        </div>
                        <div class="col-md-2 col3">	                            
                            <input  type="number" ng-model="userCtrl.newUser.saturday_to" placeholder="Finish" style="width:80px">
                        </div>
                    </div>
   	                <div class="row">
                        <div class="col-md-2 col1">	                            
                            <h5 style="width:150px">Sunday</h5>
                        </div>
                        <div class="col-md-2 col2">	                            
                            <input type="number" ng-model="userCtrl.newUser.sunday_from", style="width:80px" placeholder="Start"></input>
                        </div>
                        <div class="col-md-2 col3">	                            
                            <input  type="number" ng-model="userCtrl.newUser.sunday_to	"  placeholder="Finish" style="width:80px">
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <input type="button" ng-click="userCtrl.addUser(userCtrl.newUser)" value="Add" class="add-button">
</div>